*, *::before, *::after {
    box-sizing: border-box;
}

.app-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
}

.pixel
{
    image-rendering: pixelated;
}

.bg
{
    background-color: #36484e;
}